html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Meiryo", sans-serif;
  background-color: white;
}

.inpage-search-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px;
}

.inpage-search-input {
  flex: auto;
  -webkit-appearance: textfield;
  box-sizing: border-box;
  margin-right: 6px;
  outline: 0;
}
.inpage-search-input:focus {
  border: solid #83bffc 1px;
}

.inpage-search-matches {
  color: #999;
  font-size: 0.8em;
}

.inpage-search-back {
  padding-left: 6px;
  padding-right: 2px;
  cursor: pointer;
}

.inpage-search-forward {
  padding-left: 2px;
  padding-right: 6px;
  cursor: pointer;
}

.inpage-search-close {
  margin-left: 4px;
  padding: 0 2px;
  cursor: pointer;
}

.inpage-search-back:hover,
.inpage-search-forward:hover,
.inpage-search-close:hover {
  background-color: #e2e0e2;
  border-radius: 0.2em;
}
